{% extends 'wrapper.twig' %}

{% block body %}
    <header class="header">

        <div class="container">
            <nav class="header__navabar navbar">
                <a class="navbar__brand brand" href="#">
                    <picture>
                        <source srcset="img/logo-pc.png" media="(min-width: 1200px)">
                        <img src="img/logo.png" alt="logotype" class="brand__img">
                    </picture>
                </a>

                <button class="navbar__toggler" type="button" aria-label="Toggle navigation">
                    <img src="img/menu-o.svg" alt="" class="navbar__toggler--open">
                    <img src="img/menu-c.svg" alt="" class="navbar__toggler--closed">
                </button>

                <div class="navbar__collapse" id="navbarSupportedContent">
                    <ul class="nav navbar__nav">
                        {% for nav in data.nav %}
                            <li class="nav__item nav__item--item-{{ loop.index }}">
                                <a class="nav__link anchor" href="{{ nav.link }}">{{ nav.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <ul class="switcher">
                    <li class="switcher__item">
                        <a class="switcher__link {% if data.lang == 'en'%}switcher__link--current{% endif %}" href="/en">en</a>
                    </li>
                    <li class="switcher__item">
                        <a class="switcher__link {% if data.lang == 'ru'%}switcher__link--current{% endif %}" href="/">ru</a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>

    <section class="section section-banner ">
        <div class="container">
            <h2 class="section-banner__title">
                {{ data.sectionBanner.title }}
            </h2>
        </div>
    </section>

{#    <section class="section section-hand">#}
{#        <div class="container" >#}
{#            <img src="img/pic-hand.jpg" id="block1" class="section-hand__img " alt="">#}

{#            <p class="section-hand__text showMe">#}
{#                {{ data.sectionHand.text }}#}
{#            </p>#}
{#        </div>#}
{#    </section>#}

    <section class="section section-business">
        <div class="container" id="block2">
            <img src="img/business-title-{{ data.lang }}.png" alt="Бизнес" class="section__big-title showMe showMe--column">
            <h2 class="section__title showMe showMe--column">
                {{ data.sectionBusiness.title }}
            </h2>

            <ul class="section-business__list business">

                {% for business in data.sectionBusiness.business %}
                    <li class="business__item business__item--type-{{ loop.index }}">
                        <h4 class="business__title">{{ business.title }}</h4>

                        <picture>
                            <source srcset="{{ business.img }}.jpg" media="(min-width: 1200px)">
                            <img src="{{ business.img }}-m.png" alt="" class="business__img showMe showMe--column">
                        </picture>

                        <div class="business__panel {% if loop.last %}business__panel--no-shadow{% endif %} showMe showMe--column">

                            <a href="{{ business.url }}" target="_blank">
                                <picture>
                                    <source srcset="{{ business.logo }}.png" media="(min-width: 1200px)">
                                    <img src="{{ business.logo }}.png" alt="" class="business__logo ">
                                </picture>
                            </a>
                            <p class="business__text">
                                {{ business.text }}
                            </p>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-direction" id="block3">
        <div class="container">
            <img src="img/direction-title-{{ data.lang }}.png" alt="" class="section__big-title showMe showMe--row">
            <h2 class="section__title">
                {{ data.sectionDirection.title }}
            </h2>
            <ul class="direction direction--mobile">
                <li class="direction__item direction__item--item-1 showMe"><span class="direction__hyphen"></span>
                    {{ data.sectionDirection.direction.0.name.0 }}
                </li>
                <li class="direction__item direction__item--item-2"> {{ data.sectionDirection.direction.0.name.1 }}
                    <span class="direction__hyphen"></span>{{ data.sectionDirection.direction.1.name }}</li>
                <li class="direction__item direction__item--item-3">
                    <span class="direction__hyphen"></span>
                    {{ data.sectionDirection.direction.2.name.0 }}  {{ data.sectionDirection.direction.2.name.1 }}
                </li>
                <li class="direction__item direction__item--item-4">
                    {{ data.sectionDirection.direction.2.name.2 }}
                    <span class="direction__hyphen"></span>{{ data.sectionDirection.direction.3.name.0 }}</li>
                <li class="direction__item direction__item--item-5">{{ data.sectionDirection.direction.3.name.1 }}</li>
            </ul>

            <ul class="direction direction--desctop">
                <li class="direction__item direction__item--item-1 showMe showMe--row">
                    <span class="direction__hyphen"></span>
                    {{ data.sectionDirection.direction.0.name.0 }} {{ data.sectionDirection.direction.0.name.1 }}
                </li>
                <li class="direction__item direction__item--item-2 showMe showMe--row">
                    <span class="direction__hyphen"></span>
                    {{ data.sectionDirection.direction.1.name }}
                    <span class="direction__hyphen"></span>
                    {{ data.sectionDirection.direction.2.name.0 }}
                </li>
                <li class="direction__item direction__item--item-3 showMe showMe--row">
                    {{ data.sectionDirection.direction.2.name.1 }}
                    {{ data.sectionDirection.direction.2.name.2 }}
                </li>
                <li class="direction__item direction__item--item-4 showMe showMe--row">
                    <span class="direction__hyphen"></span>
                    {{ data.sectionDirection.direction.3.name.0 }}
                    {{ data.sectionDirection.direction.3.name.1 }}
                </li>
            </ul>
        </div>
    </section>

    <section class="section section-partners" id="block4">
        <div class="container">
            <img src="img/partner-title-{{ data.lang }}.png" alt="" class="section__big-title showMe showMe--column">
            <h2 class="section__title showMe showMe--column">
                {{ data.sectionPartners.title }}
            </h2>

            <ul class="partners">
                {% for partner in data.sectionPartners.partners %}
                    <li class="partners__item showMe showMe--column">
                        <a href="{{ partner.url }}" class="partners__link" target="_blank">

                            <picture>
                                <source srcset="{{ partner.img }}.png" media="(min-width: 768px)">
                                <source srcset="{{ partner.img }}.png" media="(min-width: 1200px)">
                                <img src="{{ partner.img }}-m.png" alt="" class="partners__img">
                            </picture>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-contacts">
        <div class="container">
            <div class="contacts" id="block5">
                <div class="contacts__panel">
                    <h2 class="section__title ">
                        {{  data.sectionContacts.title }}
                    </h2>
                    <p class="contacts__address">
                        {{ data.sectionContacts.address }} <br>
                        <a href="tel:{{ data.sectionContacts.phone }}">{{ data.sectionContacts.phone }}</a>
                    </p>
                </div>

{#                <picture>#}
{#                    <source srcset="img/contact-bg.jpg" media="(min-width: 768px)">#}
{#                    <source srcset="img/contact-bg.jpg" media="(min-width: 1200px)">#}
{#                    <img src="img/contact-bg-m.jpg" alt="" class="contacts__img ">#}
{#                </picture>#}
            </div>

            <ul class="section-contacts__nav">
                {% for nav in data.nav %}
                    <li><a href="{{ nav.link }}" class="anchor">{{ nav.title }}</a></li>
                {% endfor %}
            </ul>
            <p class="section-contacts__copyright">{{ data.copyright }}</p>
        </div>
    </section>
{% endblock %}
