<!doctype html>
<html lang="{{ data.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ data.meta.title }}</title>
    <link rel="stylesheet" href="css/app.css?{{ version }}">
</head>
<body>

    <div class="wrapper">
        {% block body %}{% endblock %}
    </div>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="js/app.js?{{ version }}"></script>
</body>
</html>
