.business {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;

  @media(min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media(min-width: 1200px) {
    position: relative;
    display: block;
  }
}

.business__item {
  position: relative;
  display: flex;
  flex-direction: column;

  @media(min-width: 768px) {
    flex: 0 0 50%;
  }
  @media(min-width: 1200px) {
    display: block;
    flex: initial;
  }

  &--type-1 {
    padding-bottom: 214px;
    right: 0;
    z-index: 6;
    @media(min-width: 1200px) {
      padding-bottom: 0;
    }
    .business__img {
      left: -11px;
      top: 208px;
      z-index: 1;
      @media(min-width: 1200px) {
        left: initial;
        right: 215px;
        top: -97px;
      }
    }

    .business__title {
      left: -35px;
      top: 81px;
      @media(min-width: 1200px) {
        right: 601px;
        top: -107px;
        left: initial;
      }

    }

    .business__panel {
      left: 39px;
      max-width: 252px;
      @media(min-width: 1200px) {
        max-width: 458px;
        margin-left: auto;
        top: 36px;
        left: 0;
      }
    }
  }
  &--type-2 {
    padding-bottom: 276px;
    padding-top: 274px;
    z-index: 5;
    @media(min-width: 1200px) {
      padding-top: 0;
      margin-top: -12px;
    }
    .business__img {
      top: 51px;
      left: 40px;
      z-index: 1;
      @media(min-width: 1200px) {
        top: -234px;
        left: 195px;
      }

    }
    .business__logo{
      @media(min-width: 1200px) {
        width: 157px;
      }

    }

    .business__title {
      left: -17px;
      top: 139px;
      @media(min-width: 1200px) {
        left: 100px;
        top: -200px
      }

    }

    .business__panel {
      left: 0;
      max-width: 267px;
      @media(min-width: 1200px) {
        max-width: 361px;
      }
    }
  }
  &--type-3 {
    @media(min-width: 768px) {
      margin-top: -80px;
    }
    @media(min-width: 1200px) {
      margin-top: -255px;
      z-index: 6;
    }
    .business__img {
      left: 42px;
      top: -220px;
      z-index: 1;
      @media(min-width: 1200px) {
        left: initial;
        right: 0;
        top: -118px;
      }
    }

    .business__title {
      left: -15px;
      top: -127px;
      @media(min-width: 1200px) {
        left: initial;
        right: 338px;
        top: -159px;
      }


    }

    .business__panel {
      left: 0;
      max-width: 253px;
      padding-right: 10px;
      @media(min-width: 1200px) {
        max-width: 321px;
        margin-left: auto;
        right: 100px;
        left: -165px;
        padding-right: 20px;
      }
    }

    .business__logo {
      @media(min-width: 1200px) {
        margin-bottom: 29px;
      }
    }
  }
  &--type-4 {
    padding-top: 273px;

    @media(min-width: 768px) {
      margin-top: -210px;
    }

    @media(min-width: 1200px) {
      margin-top: 0;
      padding-top: 212px;
      z-index: 4;
    }
    .business__img {
      top: 50px;
      left: 42px;
      z-index: 1;
      @media(min-width: 1200px) {
        left: 2px;
        top: -64px;
      }

    }

    .business__title {
      left: -62px;
      top: 138px;
      @media(min-width: 1200px) {
        left: -28px;
        top: -130px;
        z-index: 2;
      }

    }

    .business__panel {
      max-width: 252px;
      @media(min-width: 1200px) {
        max-width: 458px;
        left: 69px;
      }
    }

    .business__logo {
      @media(min-width: 1200px) {
        width: 125px;
        left: -15px;
        position: relative;
        top: -10px;
        margin-bottom: 10px;
      }
    }
  }
  &--type-5 {
    padding-top: 58px;
    padding-bottom: 200px;
    @media(min-width: 768px) {
      margin-top: -120px;
      padding-bottom: 0;
    }
    @media(min-width: 1200px) {
      z-index: 5;
      padding-top: 0;
      margin-top: -165px;
    }
    .business__img {
      bottom: -40px;
      left: -11px;
      z-index: 1;
      @media(min-width: 1200px) {
        left: initial;
        right: 94px;
        top: -234px;
      }
    }

    .business__title {
      left: 0;
      top: 60px;
      @media(min-width: 1200px) {
        left: initial;
        right: 520px;
        top: -309px;
      }
    }

    .business__panel {
      max-width: 253px;
      left: 37px;

      @media(min-width: 1200px) {
        max-width: 360px;
        margin-left: auto;
        left: 0;
      }
    }

    .business__logo {
      @media(min-width: 1200px) {
        width: 160px;
      }
    }
  }
  &--type-6 {
    padding-top: 274px;
    @media(min-width: 1200px) {
      padding-top: 0;
      margin-top: 85px;
    }
    .business__img {
      top: 52px;
      left: 42px;
      z-index: 1;
      @media(min-width: 1200px) {
        top: -93px;
        left: 293px;
      }

    }

    .business__title {
      left: -31px;
      top: 142px;
      @media(min-width: 1200px) {
        left: 206px;
        top: -128px;
      }

    }

    .business__panel {
      max-width: 252px;
      padding-right: 10px;
      @media(min-width: 1200px) {
        max-width: 390px;
        z-index: 4;
        left: 99px;
      }
    }

    .business__logo {
      margin-bottom: 2px;
      @media(min-width: 1200px) {
        width: 125px;
        margin-bottom: 20px;
      }
    }

    .business__text {
      line-height: 1.95;
      @media(min-width: 1200px) {
        line-height: 1.75;
      }
    }
  }

  &--type-7 {
    padding-top: 270px;

    @media(min-width: 768px) {
      padding-top: 185px;
      flex: 0 0 100%;
    }
    @media(min-width: 1200px) {
      padding-top: 158px;
      flex: initial;

    }
    .business__img {
      top: 47px;
      left: 40px;
      @media(min-width: 1200px) {
        top: 121px;
        left: 98px;
      }

    }

    .business__title {
      left: -55px;
      top: 120px;
      @media(min-width: 1200px) {
        left: -56px;
        top: 300px;
      }

    }

    .business__panel {
      max-width: 268px;

      @media(min-width: 768px) {
        max-width: 500px;
        margin-left: 100px;
      }
      @media(min-width: 1200px) {
        margin-left: 0;
        max-width: 554px;
        z-index: 4;
        left: 487px;
        padding-top: 49px;
      }
    }

    .business__logo {

      @media(min-width: 1200px) {
        width: 125px;
        margin-bottom: 20px;
      }
    }

    .business__text {

      @media(min-width: 1200px) {
        line-height: 1.75;
      }
    }
  }
}

.business__panel {
  background: #fff;
  padding: 23px 20px 22px;
  position: relative;
  z-index: 2;
  order: 1;
  box-shadow: 20px 20px 27px 0 rgba(0,0,0,0.2);
  &--no-shadow {
    box-shadow: none;
  }
  @media(min-width: 1200px) {
    padding-top: 41px;
    padding-left: 36px;
    padding-bottom: 46px;
  }
}

.business__img {
  position: absolute;
  max-width: 284px;
  @media(min-width: 1200px) {
    max-width: 100%;
  }
}

.business__title {
  text-transform: uppercase;
  transform: rotate(-90deg);
  line-height: 1;
  text-align: right;
  position: absolute;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: #5f1cc4;
  @media(min-width: 1200px) {
    font-size: 19px;
  }

}

.business__text {
  padding-left: 5px;
  margin: 0;
  font-size: 11.5px;
  line-height: 1.85;
  @media(min-width: 1200px) {
    line-height: 1.75;
    font-size: 14px;
    padding-left: 5px;
    letter-spacing: 0.1px;

    br {
      display: none;
    }
  }
}

.business__logo {
  max-width: 139px;
  margin-bottom: 14px;
  @media(min-width: 1200px) {
    max-width: 100%;
    margin-bottom: 28px;

  }
}
