.contacts {
  position: relative;
  //padding-bottom: 347px;
  padding-bottom: 70px;
  margin-top: -179px;
  @media(min-width: 768px) {
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 67px;
  }
  @media(min-width: 1200px) {
    padding-bottom: 70px;
  }
}

.contacts__panel {
  max-width: 253px;
  position: relative;
  left: 37px;
  z-index: 2;
  background: #fff;
  padding: 23px 20px 37px;
  box-shadow: 20px 20px 27px 0 rgba(0,0,0,0.2);

  @media(min-width: 768px) {
    max-width: 584px;
    margin-left: auto;
    left: 0;
    padding: 70px 31px 62px 98px;
  }

  .section__title {
    margin-bottom: 14px;
    @media(min-width: 768px) {
      margin-bottom: 35px;
    }
  }


}

.contacts__address {
  margin: 0;
  padding-left: 21px;
  letter-spacing: 0.8px;
  line-height: 1.75;
  @media(min-width: 1200px) {
    padding-left: 0;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1.2px;
  }

  a {
    display: block;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
    @media(min-width: 1200px) {
      margin-top: 30px;
    }
  }
}

.contacts__img {
  position: absolute;
  top: 82px;
  left: -12px;
  z-index: 1;
  @media(min-width: 768px) {
    max-width: 600px;
    top: -159px;
    left: -110px;
  }
  @media(min-width: 1200px) {
    max-width: 100%;
    top: -159px;
    left: -110px;
  }

}


