.direction {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  &--desctop {
    display: none;
    @media(min-width: 768px) {
      display: block;
    }
  }
  &--mobile {
    display: block;
    @media(min-width: 768px) {
      display: none;
    }
  }
}

.direction__item {
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 14px;

  @media(min-width: 768px) {
    font-size: 32px;
  }
  @media(min-width: 1200px) {
    letter-spacing: 2.4px;
    font-size: 48px;
    margin-bottom: 33px;
  }


  &--item-1 {
    @media(min-width: 768px) {
      justify-content: flex-end;
      padding-right: 20px;
    }
  }
  &--item-2 {
    @media(min-width: 768px) {
      justify-content: space-between;
    }
    .direction__hyphen {
      margin: 0 7px;
      @media(min-width: 768px) {
        margin-left: 0;
        margin-right: -32px;
      }
    }
  }
  &--item-3 {
    justify-content: flex-end;
  }
  &--item-4 {

    @media(min-width: 768px) {
      padding-left: 96px;
    }
    .direction__hyphen {
      margin: 0 7px;
      @media(min-width: 768px) {
        margin-right: 30px;
        margin-left: 0;
      }
    }
  }
  &--item-5 {
    justify-content: flex-end;
    padding-right: 36px;
  }
}

.direction__hyphen {
  display: block;
  width: 24px;
  flex: 0 0 24px;
  height: 5px;
  background: #5f1cc4;
  margin-right: 6px;
  @media(min-width: 1200px) {
    flex: 0 0 69px;
    margin-right: 30px;
  }

}
