.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  @media(min-width: 768px) {
    max-width: 720px;
  }

  @media(min-width: 1200px) {
    max-width: 1170px;
  }
}

