.header {
  padding-top: 18px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  @media(min-width: 1200px) {
    padding-top: 32px;
  }
}

.header__navabar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media(min-width: 768px) {
    align-items: center;
  }
}

.header--open {
  background: #ebebeb;
  min-height: 100vh;
  .navbar__collapse {
    display: block;
  }
  .brand__img {
    filter: brightness(0);
  }

  .navbar__toggler--closed {
    display: none;
  }
  .navbar__toggler--open {
    display: block;
  }
}
