*,*:before,*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.br {
  &--mobile {
    display: block;
    @media(min-width: 1200px) {
      display: none;
    }
  }
  &--desctop {
    display: none;
    @media(min-width: 1200px) {
      display: block;
    }
  }
}
