.navbar {
  padding: 0;
}

.navbar__brand {
  display: block;
}

.navbar__toggler {
  border: none;
  width: 31px;
  height: 24px;
  margin-top: 13px;
  display: block;
  align-items: center;
  padding: 0;
  background: transparent;
  order: 2;
  margin-left: 0;

  @media(min-width: 768px) {
    display: none;
  }

  &--closed {
    display: block;
  }

  &--open {
    display: none;
  }
}


.navbar__toggler-icon {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
}

.navbar__collapse {
  display: none;
  width: 100%;
  order: 3;
  @media(min-width: 768px) {
    display: flex;
    width: auto;
    margin-left: 0;
    order: 2;
  }
  @media(min-width: 1200px) {
    display: flex;
    width: auto;
    margin-left: auto;
  }
  &--open {
    display: block;
  }
}

.navbar__nav {
  &--lang {
    margin-left: 40px;
    .nav__link {
      padding-left: 8px;
      text-transform: uppercase;

      &--current {
        color: #5f1cc4;
        font-weight: bold;
      }
    }
  }
}
