.nav {
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media(min-width: 768px) {
    padding-top: 0;
    font-size: 12px;
  }
  @media(min-width: 1200px) {
    padding-top: 0;
    font-size: 14px;
  }
}

.nav__item {
  letter-spacing: 0.7px;
  margin-bottom: 43px;
  &--item-1 {
    padding-left: 30px;
  }
  &--item-2 {
    padding-left: 94px;
  }
  &--item-4 {
    padding-left: 13px;
  }
  &--item-5 {
    padding-left: 21px;
  }

  @media(min-width: 768px) {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: #000;
  position: relative;
  padding-left: 35px;
  @media(min-width: 768px) {
    padding-left: 20px;
  }
  @media(min-width: 1200px) {
    padding-left: 50px;
  }
  &:before {
    content: '';
    width: 25px;
    height: 5px;
    background: #5f1cc4;
    position: absolute;
    left: 0;
    top: 5px;
    @media(min-width: 768px) {
      display: none;
    }
  }

}
