.partners {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.partners__item {
  flex: 0 0 50%;
  margin-bottom: 36px;
  text-align: center;
  &:last-child {
    margin: 0 auto 100px;
  }
  @media(min-width: 768px) {
    flex: 0 0 33.3%;
    margin-bottom: 100px;
  }
}

.partners__img {
  max-width: 100%;
  @media(min-width: 768px) {
    max-width: 60%;
  }
  @media(min-width: 1200px) {
    max-width: 100%;
  }
}
