.section-direction {
  padding-bottom: 104px;
  @media(min-width: 1200px) {
    padding-bottom: 160px;
  }

  .container {
    @media(min-width: 1200px) {
      position: relative;
    }
  }

  .section__title {
    margin-bottom: 45px;
    @media(min-width: 1200px) {
      margin-bottom: 86px;
    }
  }

  .section__big-title {
    top: 86px;
    left: -216px;
    z-index: -1;
  }
}
