.section-partners {
  padding-bottom: 259px;
  @media(min-width: 768px) {
    padding-bottom: 120px;
  }
  @media(min-width: 1200px) {
    padding-bottom: 100px;
  }

  .container {
    @media(min-width: 1200px) {
      position: relative;
    }
  }
  .section__title {
    margin-bottom: 61px;
  }

  .section__big-title {
    top: -36px;
    left: -136px;
    z-index: -1;
  }
}
