.section {

}

.section__title {
  margin: 0;
  font-size: 31px;
  padding-left: 22px;
  letter-spacing: 1px;
  line-height: 1.3;
  @media(min-width: 1200px) {
    font-size: 37px;
    padding-left: 0;
  }
  &:before {
    content: '';
    display: block;
    width: 107px;
    height: 5px;
    margin-left: -22px;
    background: #5f1cc4;
    margin-bottom: 8px;
    @media(min-width: 1200px) {
      margin-bottom: 18px;
      width: 194px;
      margin-left: -68px;
    }
  }
  &--marked {
    color: #5f1cc4;
  }

}

.section__big-title {
  display: none;
  @media(min-width: 1200px) {
    display: block;
    position: absolute;
  }
}
