.section-business {
  padding-top: 60px;
  padding-bottom: 117px;
  @media(min-width: 1200px) {
    padding-top: 107px;
    padding-bottom: 246px;
  }

  .container {
    @media(min-width: 1200px) {
      position: relative;
    }
  }

  .section__title {
    margin-bottom: 50px;
  }

  .section__big-title {
    left: -136px;
    top: -64px;
    z-index: -1;
  }
}
