.section-hand {
  margin-top: -100px;
  position: relative;
  z-index: 2;
  @media(min-width: 768px) {
    margin-top: 0;
    padding-top: 70px;
  }
  @media(min-width: 1200px) {
    padding-top: 0px;
  }

  .container {
    @media(min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    @media(min-width: 1200px) {
      align-items: initial;
    }
  }
}

.section-hand__img {
  display: block;
  max-width: 290px;
  margin-left: -7px;
  margin-bottom: 40px;
  @media(min-width: 768px) {
    margin-bottom: 0;
    border-top: 32px solid #fff;
  }
  @media(min-width: 1200px) {
    margin-bottom: 0;
    max-width: initial;
    background: #fff;
    margin-left: -113px;
    border: 99px solid #fff;
    border-right-width: 285px;
    border-bottom-width: 0;
    border-left-width: 117px;
    margin-top: -135px;
  }
}

.section-hand__text {
  margin-top: -6px;
  line-height: 1.75;
  padding-left: 57px;
  letter-spacing: 0.2px;

  @media(min-width: 768px) {

  }
  @media(min-width: 1200px) {
    margin-top: 0;
    margin-left: -237px;
    padding-left: 0;
    padding-top: 74px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.4px;
  }
}
