.section-banner {
  padding-top: 122px;
  min-height: 100vh;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  background: url("../img/bg-pc1.jpg") no-repeat 50% 100% / cover;
  display: flex;
  align-items: center;
  @media(min-width: 768px) {
    min-height: auto;
    display: block;
  }
  @media(min-width: 1200px) {
    background: url("../img/bg-pc1.jpg") no-repeat 50% 100% / cover;
    padding-top: 201px;
    padding-bottom: 108px;
  }
}

.section-banner__title {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.4px;

  @media(min-width: 768px) {
    font-size: 26px;
  }
  @media(min-width: 1200px) {
    font-size: 37px;
    line-height: 1.3;
    letter-spacing: 1.2px;
  }
  &--marked {
    color: #5f1cc4;
  }
}
