.section-contacts {
  padding-top: 20px;
  padding-bottom: 37px;
  background: url("../img/contacts-bg-m.jpg") no-repeat 50% 50% / cover;
  @media (min-width: 1200px) {
    background: url("../img/contacts-bg.jpg") no-repeat 0% 50% / 847px;
  }
}

.section-contacts__copyright {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  @media (min-width: 768px) {
    font-size: 14px;
    width: 51%;
    margin-left: auto;
  }
}

.section-contacts__nav {
  display: none;
  @media (min-width: 768px) {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0px;
    list-style: none;
  }

  li {
    margin-left: 34px;
  }

  a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
}
