.showMe {
  transition: all 1s;

  &--column {
    transform: translateY(100px);
    &.showMe--show {
      transform: translateY(0px);
    }
  }

  &--row {
    transform: translateX(100px);
    &.showMe--show {
      transform: translateX(0px);
    }
  }
}


